.kss-example-box--tinted {
  background-color: lightgrey;
}

.kss-example-box-padded {
  padding: 3rem;
}

#kss-node {
  .kss-nav__menu-link {
    white-space: nowrap;
    border: 0;
  }

  .kss-nav__menu-child,
  .kss-nav__ref-child {
    margin-left: 10px;
  }

  .kss-nav__menu {
    > .kss-nav__menu-item {
      > .kss-nav__menu-link {
        > .kss-nav__ref {
          display: none;
        }
      }
    }
  }
}

@import "functions";
@import "family";

// Variables
//
// All custom variables that are used in this theme.
//
// Styleguide Utilities.Variables
@import "_variables/colors";

// Bootstrap stuff
@import "bootstrap-grid";

// Base styling
@import "base/base.scss";

// Component
//
// This is the Component documentation.
//
// Styleguide Component
@import "component/**/*.scss";

// Layout
//
// This is the Layout documentation. These are ways to combine various items together into
// reusable arrangements.
//
// Styleguide Layout
@import "layout/**/*.scss";

@import "util/util.scss";