// Colors
//
// All colors that can be used as sass variables.
// * $white: #FFF;
//
// Colors map
// * <span class="bg-black c-white">gray-light: #666</span>
// * <span class="bg-white c-white">gray: #505050</span>
// * <span class="bg-dark-grey c-white">gray-dark: #333</span>
//
// <br>
// See Utilities.Helpers.Colors on how to use these colors as classes.
//
// Styleguide Variables.Colors

// Start by explicitly writing out all the variables. This
// makes it a lot easier to autocomplete in the various sass files.
$white: #FFF;
$blue-light: #FAFDFD;
$blue-medium: #CAF5FA;
$blue-dark: #0CBBCB;
$blue-very-dark: #03A8B7;
$green-medium: #CCDB77;
$green-dark: #A0BC00;
$pink-light: #E596C1;
$pink: #E15298;

// Add all the above colors to the map. This makes it possible to auto generate various
// background color variations etc.
// Make sure all the different names match the above variable names for clarity.
$colors: (
        white: $white,
        blue-light: $blue-light,
        blue-medium: $blue-medium,
        blue-dark: $blue-dark,
        blue-very-dark: $blue-very-dark,
        green-medium: $green-medium,
        green-dark: $green-dark,
        pink-light: $pink-light,
        pink: $pink,
) !default;
